define command {
                command_name                          check_local_disk
                command_line                          $USER1$/check_disk -w $ARG1$ -c $ARG2$
               #command_line                          $USER1$/check_disk -w $ARG1$ -c $ARG2$ -p $ARG3$
}

define command {
                command_name                          check_local_load
               command_line                          $USER1$/check_load -w $ARG1$ -c $ARG2$
}

define command {
                command_name                          check_local_procs
                command_line                          $USER1$/check_procs -w $ARG1$ -c $ARG2$ -s $ARG3$
}

define command {
                command_name                          check_local_users
                command_line                          $USER1$/check_users -w $ARG1$ -c $ARG2$
}

define command {
                command_name                          check_local_swap
                command_line                          $USER1$/check_swap -w $ARG1$ -c $ARG2$
}

define command {
                command_name                          check_local_mrtgtraf
                command_line                          $USER1$/check_mrtgtraf -F $ARG1$ -a $ARG2$ -w $ARG3$ -c $ARG4$ -e $ARG5$
}

define command {
                command_name                          check_ftp
                command_line                          $USER1$/check_ftp -H $HOSTADDRESS$ $ARG1$
}

define command {
                command_name                          check_hpjd
                command_line                          $USER1$/check_hpjd -H $HOSTADDRESS$ $ARG1$
}

define command {
                command_name                          check_snmp
                command_line                          $USER1$/check_snmp -H $HOSTADDRESS$ $ARG1$
}

define command {
                command_name                          check_http
                command_line                          $USER1$/check_http -I $HOSTADDRESS$ $ARG1$
}

define command {
                command_name                          check_ssh
                command_line                          $USER1$/check_ssh $ARG1$ $HOSTADDRESS$
}

define command {
                command_name                          check_dhcp
                command_line                          $USER1$/check_dhcp $ARG1$
}

define command {
                command_name                          check_ping
                command_line                          $USER1$/check_ping -H $HOSTADDRESS$ -w $ARG1$ -c $ARG2$ -p 5
}

define command {
                command_name                          check_pop
                command_line                          $USER1$/check_pop -H $HOSTADDRESS$ $ARG1$
}

define command {
                command_name                          check_imap
                command_line                          $USER1$/check_imap -H $HOSTADDRESS$ $ARG1$
}

define command {
                command_name                          check_smtp
                command_line                          $USER1$/check_smtp -H $HOSTADDRESS$ $ARG1$
}

define command {
                command_name                          check_tcp
                command_line                          $USER1$/check_tcp -H $HOSTADDRESS$ -p $ARG1$ $ARG2$
}

define command {
                command_name                          check_udp
                command_line                          $USER1$/check_udp -H $HOSTADDRESS$ -p $ARG1$ $ARG2$
}

define command {
                command_name                          check_nt
                command_line                          $USER1$/check_nt -H $HOSTADDRESS$ -p 12489 -v $ARG1$ $ARG2$
}

define command {
                command_name                          process-host-perfdata-file
                command_line                          /bin/mv /usr/local/pnp4nagios/var/host-perfdata /usr/local/pnp4nagios/var/spool/host-perfdata.$TIMET$
}

define command {
                command_name                          process-service-perfdata-file
                command_line                          /bin/mv /usr/local/pnp4nagios/var/service-perfdata /usr/local/pnp4nagios/var/spool/service-perfdata.$TIMET$
}

define command {
                command_name                          check_local_cpu
                command_line                          $USER1$/check_cpu.sh -w $ARG1$ -c $ARG2$
}

define command {
                command_name                          check_local_mem
                command_line                          $USER1$/check_local_mem.sh -w $ARG1$ -c $ARG2$
}

define command {
                command_name                          check_nrpe
                command_line                          $USER1$/check_nrpe -H $HOSTADDRESS$ -c $ARG1$
}

define command {
                command_name                          check_traffic
                command_line                          $USER1$/check_traffic.sh -V 2c -C public -H $HOSTADDRESS$ -I $ARG1$ -w $ARG2$,$ARG3$ -c $ARG4$,$ARG5$ $ARG6$
}

define command {
                command_name                          check_local_uptime
                command_line                          $USER1$/check_uptime.sh
}
define command {
		command_name			      check_local_nagios
		command_line			      $USER1$/check_nagios -F /usr/local/nagios/var/status.log -e 5 -C /usr/local/nagios/bin/nagios
}

define command {
		command_name			      check_local_mysql
		command_line			      $USER1$/check_mysql -H 172.18.8.135 -u root -p 123456 -d cacti
}

define command {
		command_name			      check_tomcat
		command_line			      $USER1$/check_http -I $HOSTADDRESS$ -p 8888 -u /mas/index.jsp -e 200
}

define command {
		command_name			      check_http_port
		command_line			      $USER1$/check_http -I $ARG1$ -p $ARG2$
}

define command {
		command_name			      check_tcp_port
		command_line			      $USER1$/check_tcp -H $ARG1$ -p $ARG2$
}
